---
import '../assets/global.css';
import Header from '../components/Header.astro';
import ContactInfo from '../components/ContactInfo.astro';
import ContactTools from '../components/ContactTools.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />

</head>
<body>
    <Header />
    <ContactInfo />
    <ContactTools />
    <Footer />
</body>
</html>