---
import '../assets/global.css';
import HeaderCarousel from '../components/HeaderCarousel.astro';
import Hero from '../components/Hero.astro';
import Phrase from '../components/Phrase.astro';
import Cards from '../components/Cards.astro';
import Video from '../components/Video.astro';
import SecondCards from '../components/SecondCards.astro';
import Footer from '../components/Footer.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oyamel</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <HeaderCarousel />
	<Hero />
	<Phrase />
	<Cards />
	<Video />
	<SecondCards />
	<Footer />
  </body>
</html>
