---
import '../styles/global.css'; // ← Esto importa Tailwind
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Phrase from '../components/Phrase.astro'
import Cards from '../components/Cards.astro'
import Video from '../components/Video.astro'
import SecondCards from '../components/SecondCards.astro'
import Footer from '../components/Footer.astro'
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Proyecto con Tailwind</title>
  </head>
  <body>
	<Header></Header>
	<Hero></Hero>
	<Phrase></Phrase>
	<Cards></Cards>
	<Video></Video>
	<SecondCards></SecondCards>
	<Footer></Footer>
  </body>
</html>