---
import HeaderCarousel from '../components/HeaderCarousel.astro';
import Hero from '../components/Hero.astro';
import Phrase from '../components/Phrase.astro';
import Cards from '../components/Cards.astro';
import Video from '../components/Video.astro';
import SecondCards from '../components/SecondCards.astro';
import Footer from '../components/Footer.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oyamel</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body>
    <HeaderCarousel />
	<Hero />
	<Phrase />
	<Cards />
	<Video />
	<SecondCards />
	<Footer />
  </body>
</html>
