<style>
    section {
        margin-top: 100px;
        height: 90vh;
    }
    button {
        width: 400px;
        border-radius: 10px;
        background-color: var(--rojo-alegre);
    }
    @media (max-width: 768px) {
  h2 {
    font-size: 34px;
    text-align: end;
  }
  p {
    font-size: 14px;
  }
  button {
    width: 200px;
  }
}
</style>
<section class="relative bg-cover bg-center h-72 md:h-96" style="background-image: url('https://us.123rf.com/450wm/benzoix/benzoix2212/benzoix221215001/195810752-mujer-joven-con-anteojos-que-muestra-la-pantalla-de-una-computadora-port%C3%A1til-demostrando-promoci%C3%B3n.jpg?ver=6');">
    <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-end px-12 gap-y-10">
        <h2 class="text-5xl">Centro de contacto Oyamel</h2>
        <p class="text-2xl max-w-2xl text-right">Contamos con diversos canales de contacto para que puedas resolver todas tus dudas o comenzar tu inscripción de manera sencilla.</p>
        <button class="py-2 px-4 rounded hover:bg-white">Contactanos</button>
    </div>
</section>

  