<footer class="bg-green-200 text-gray-800 pt-5">
    <div class=" grid grid-cols-4 items-center justify-items-center gap-10">
      
      <!-- Logo -->
      <img src="/imglogo.jpeg" alt="Logo Inlakesh" class="w-20 mt-25 mb-15">
  
      <!-- Información -->
      <div class="flex flex-col items-center text-center space-y-2">
        <p class="text-[15px] max-w-3xl">Av del Bosque S/N, Parque Tarango,</p>
        <p class="text-[15px]">Álvaro Obregón, C.P. 01620, CDMX</p>
      </div>
      <div>
        <p class="text-[15px]">Teléfonos: 55 1520 0043 • 55 1520 0597</p>
        <p class="text-[15px]">Whatsapp: 55 1301 4977</p>
      </div>
  
      <!-- Redes sociales -->
      <div class="flex space-x-4">
        <!-- Facebook -->
        <a href="#" class="text-gray-600 hover:text-gray-900 transition">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="currentColor" viewBox="0 0 24 24">
            <path d="M22.675 0h-21.35C.6 0 0 .6 0 1.337v21.326C0 23.4.6 24 1.325 24H12.82v-9.294H9.692v-3.622h3.128V8.413c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.794.143v3.24h-1.917c-1.505 0-1.796.716-1.796 1.765v2.314h3.59l-.467 3.622h-3.123V24h6.116c.73 0 1.325-.6 1.325-1.337V1.337C24 .6 23.4 0 22.675 0z"/>
          </svg>
        </a>
      
        <!-- Instagram -->
        <a href="#" class="text-gray-600 hover:text-gray-900 transition">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="currentColor" viewBox="0 0 24 24">
            <path d="M7.75 2h8.5C19.1 2 22 4.9 22 7.75v8.5C22 19.1 19.1 22 16.25 22h-8.5C4.9 22 2 19.1 2 16.25v-8.5C2 4.9 4.9 2 7.75 2zm0 1.5C5.68 3.5 4 5.18 4 7.25v9.5C4 18.32 5.68 20 7.75 20h8.5c2.07 0 3.75-1.68 3.75-3.75v-9.5C20 5.68 18.32 4 16.25 4h-8.5zM12 7a5 5 0 110 10 5 5 0 010-10zm0 1.5a3.5 3.5 0 100 7 3.5 3.5 0 000-7zm5.25-.88a1.12 1.12 0 110 2.24 1.12 1.12 0 010-2.24z"/>
          </svg>
        </a>
      
        <!-- YouTube -->
        <a href="#" class="text-gray-600 hover:text-gray-900 transition">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 15l5.19-3L10 9v6zm12-3c0-1.69-.14-3.18-.37-4.53-.26-1.44-1.52-2.59-2.96-2.84C16.46 4.98 12 5 12 5s-4.46-.02-6.67.63c-1.44.25-2.7 1.4-2.96 2.84C2.14 8.82 2 10.31 2 12s.14 3.18.37 4.53c.26 1.44 1.52 2.59 2.96 2.84C7.54 19.02 12 19 12 19s4.46.02 6.67-.63c1.44-.25 2.7-1.4 2.96-2.84.23-1.35.37-2.84.37-4.53z"/>
          </svg>
        </a>
      
        <!-- LinkedIn -->
        <a href="#" class="text-gray-600 hover:text-gray-900 transition">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="currentColor" viewBox="0 0 24 24">
            <path d="M19 0h-14C2.24 0 0 2.24 0 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5V5c0-2.76-2.24-5-5-5zM7 19H4V9h3v10zm-1.5-11.28c-.97 0-1.75-.78-1.75-1.75S4.53 4.22 5.5 4.22s1.75.78 1.75 1.75-.78 1.75-1.75 1.75zM20 19h-3v-5.6c0-1.33-.47-2.24-1.65-2.24-.9 0-1.44.61-1.68 1.2-.09.23-.11.55-.11.87V19h-3s.04-9 0-10h3v1.42c.4-.62 1.13-1.5 2.75-1.5 2 0 3.49 1.3 3.49 4.1V19z"/>
          </svg>
        </a>
      </div>
      
    </div>
  </footer>
  