<section class="bg-white py-16 px-6">
  <div class="max-w-7xl mx-auto flex flex-col items-center space-y-8">
    <h2 class="text-gray-800 text-[32px] sm:text-[28px] md:text-[32px] lg:text-[36px] font-semibold text-center">Pláticas informativas</h2>
    <div class="flex flex-col items-start space-y-8 sm:space-y-6 pl-20 sm:pl-4">
      <p class="text-[16px] sm:text-[14px] md:text-[16px] text-gray-700">
        Te invitamos a conocer el Colegio Inlakesh y más sobre la pedagogía Waldorf.
      </p>
      <p class="text-[16px] sm:text-[14px] md:text-[16px] text-gray-700">
        Los jueves de <strong>8:00 a 10:00 am</strong> en las instalaciones del Colegio Inlakesh
      </p>
      <p class="text-[16px] sm:text-[14px] md:text-[16px] text-gray-700">
        Av del Bosque S/N, Parque Tarango, Álvaro Obregón, Ciudad de México.
      </p>
      <p class="text-[16px] sm:text-[14px] md:text-[16px] text-gray-700 italic">*Solo adultos / traer calzado cómodo</p>
      <p class="text-[16px] sm:text-[14px] md:text-[16px] text-gray-700">
        Para apartar tu lugar, puedes llamar a las oficinas del Colegio Inlakesh
        en horario de <br> lunes a viernes de 8:00 am a 2:00 pm.
        Tels: <strong>55 1520 0043</strong> o <strong>55 1520 0597</strong>.
      </p>
      <p class="text-[16px] sm:text-[14px] md:text-[16px] text-gray-700">
        O llena el siguiente formulario y nos pondremos en contacto contigo
      </p>
      <button class="w-[600px] sm:w-full h-14 text-xl sm:text-lg bg-[#d0a55e] hover:bg-[#c3974f] text-white font-medium pb-1 px-10 rounded-lg transition">
        Aparta tu lugar aquí
      </button>
    </div>
  </div>
</section>
