<section class="bg-white min-h-screen flex items-center justify-center px-6 py-16">
  <div class="max-w-4xl w-full flex flex-col items-center space-y-8 text-start">
    <h2 class="text-gray-800 text-3xl font-semibold">Pláticas informativas</h2>
    <div class="flex flex-col space-y-6 text-gray-700">
      <p>
        Te invitamos a conocer el Colegio Inlakesh y más sobre la pedagogía Waldorf.
      </p>
      <p>
        Los jueves de <strong>8:00 a 10:00 am</strong> en las instalaciones del Colegio Inlakesh.
      </p>
      <p>
        Av del Bosque S/N, Parque Tarango, Álvaro Obregón, Ciudad de México.
      </p>
      <p class="italic">*Solo adultos / traer calzado cómodo</p>
      <p>
        Para apartar tu lugar, puedes llamar a las oficinas del Colegio Inlakesh
        en horario de <br> lunes a viernes de 8:00 am a 2:00 pm.
        Tels: <strong>55 1520 0043</strong> o <strong>55 1520 0597</strong>.
      </p>
      <p>
        O llena el siguiente formulario y nos pondremos en contacto contigo.
      </p>
    </div>
    <button class="h-14 w-96 text-xl bg-black hover:bg-blue-200 text-white font-bold px-10 rounded-lg transition">
      Aparta tu lugar aquí
    </button>
  </div>
</section>
