---
const { imageUrl, title } = Astro.props;
---
<style>
  h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
  img {
    height: 500px;
  }
</style>

<section class="relative">
  <div>
    <img class="w-full object-cover" src={imageUrl} alt="">
    <div class="absolute inset-0 flex items-center justify-center">
      <h3 class="text-white text-6xl bg-opacity-50 px-4 py-2 rounded mt-20">{title}</h3>
    </div>
  </div>
</section>
