<style>
    h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
</style>
<section>
    <div class="flex flex-col p-20 justify-center items-center gap-y-10">
        <img class="w-40" src="/logo2.png" alt="">
        <div>
            <h2 class="text-4xl text-start mb-8">El Colegio</h2>
        <p class="max-w-2xl mb-8">Somos una comunidad educativa integrada por estudiantes, educadores, padres de familia, tutores y un consejo académico-administrativo.</p>
        <p class="max-w-2xl">Creemos en la importancia de nutrir el aprendizaje académico integrando el arte, la ciencia y el contacto con la naturaleza para el sano desarrollo de todos los niños. 
        </p>
        </div>
    </div>
</section>