<style>
    h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
</style>
<section>
    <div class="flex flex-col p-20 justify-center items-center gap-y-10">
        <div>
            <h2 class="text-4xl text-start mb-8">Misión</h2>
        <p class="max-w-2xl mb-8">Nuestro propósito es brindar a niños y niñas un espacio de desarrollo respetuoso, en el que crezca con ellos su interés por el aprendizaje, el cuidado de sí mismos, del medio ambiente y la sociedad en que vivimos.
        </p>
        </div>
        <div>
            <h2 class="text-4xl text-start mb-8">Visión</h2>
        <p class="max-w-2xl mb-8">Fortalecer nuestra comunidad y ser reconocidos como una opción educativa que atiende las necesidades de la infancia en la realidad social en que vivimos, siendo agentes de cambio por el bien común y la creación de un entorno sostenible de forma ambiental, económica y social. 
        </p>
        </div>
    </div>
</section>