<style>
    h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
</style>
<section>
    <div class="flex flex-col p-20 justify-center items-center gap-y-10">
        <div class="flex flex-col justify-center items-center">
            <h2 class="text-4xl text-start mb-8">Nido (edades) - Maternal (edades) - Preescolar (edades)
            </h2>
            <p class="max-w-2xl mb-8">Nuestro jardín de infancia se crea en un ambiente cálido y hogareño, un lugar seguro en el que el trabajo colaborativo entre padres de familia, tutores y maestros es primordial para que el niño logre desarrollarse autónomo, seguro de sí mismo y de su entorno. 
            </p>
            <p class="max-w-2xl mb-8">Estos primeros años en la escuela son de cuentos, cantos y juego, que para el niño no son un pasatiempo, sino aprendizaje constante, ya que estas actividades despiertan sus sentidos, permitiéndole explorar el mundo mientras desarrolla todo tipo de habilidades neuronales, motoras, emocionales y sociales. 
            </p>
            <p class="max-w-2xl mb-8">La enseñanza se adecua de acuerdo a la madurez natural de cada niño, sin presión, dándole libertad para moverse, para explorar, para conocer el espacio, propio y el del entorno, por encima de una escolarización formal, pero haciéndole saber al niño cuales son sus límites de forma respetuosa, clara y coherente. Estos años son para vivir, disfrutar, compartir y SER NIÑO. 
            </p>
        </div>
    </div>
</section>