<style>
    h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
</style>
<section>
    <div class="flex flex-col p-20 justify-center items-center gap-y-10">
        <div class="flex flex-col justify-center items-center">
            <h2 class="text-4xl text-start mb-8">Primaria Colegio Oyamel
            </h2>
            <p class="max-w-2xl mb-8">Dando continuidad al trabajo realizado en el jardín de infancia, la escuela primaria da respuesta a las necesidades específicas de cada niño, acorde a su ritmo de crecimiento. 
                La herramienta principal de aprendizaje dentro del aula es la palabra del maestro, que será guía y modelo de su grupo de niños, tejiendo un vínculo de respeto y confianza, que crece con ellos a lo largo de toda su educación primaria.                 
            </p>
            <p class="max-w-2xl mb-8">Nuestra escuela cumple con el programa educativo de la Secretaría de Educación Pública, cambiando la forma de enseñanza de las asignaturas, más no el contenido. Entre los contenidos oficiales se imparten las materias de matemáticas, lengua materna, ciencias, geografía e historia, partiendo de los principios pedagógicos Waldorf, como lo son, la narración y la experimentación, a diferencia de la escuela tradicional, que trabaja con la repetición y la memoria. 
            </p>
            <p class="max-w-2xl mb-8">En cada uno de los cursos escolares se busca nutrir el conocimiento al igual que la inteligencia emocional del niño. Las narraciones y la música permiten que aspectos abstractos, como la aritmética, sean comprendidos por el niño de forma representativa, trabajando con acordes, fracciones, ritmos. Las artes son parte fundamental de nuestra currícula y se trabaja con ellas la experimentación, tanto a nivel artístico, como la pintura, el trabajo con barro o el tejido, como la parte científica, con actividades como la agricultura, el trabajo en la granja o la elaboración de alimentos. 
            </p>
            <p class="max-w-2xl mb-8">Las lenguas extranjeras como el inglés y el francés son impartidas haciendo uso de los recursos didácticos de la pedagogía, buscando que estas nuevas lenguas sean presentadas al niño como otra forma de entender al mundo, abriéndose un panorama universal, que les muestre otras perspectivas culturales. 
            </p>
        </div>
    </div>
</section>