<style>
    h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
</style>
<section>
    <div class="flex flex-col p-20 justify-center items-center">
        <h2 class="text-4xl text-start mb-10">Historia</h2>
        <p class="max-w-2xl mb-8">En el 2017, gracias a un grupo de padres convencidos de que la educación de sus hijos necesitaba un cambio, nace la idea de crear una escuela, buscando ofrecer un enfoque más humano a la hora de proveerles aprendizaje y mostrarles cómo cuidar de ellos mismos y de su entorno.</p>
        <p class="max-w-2xl mb-8">En el 2018, la escuela abre sus puertas con un primer ciclo escolar formado por 10 niños que cursaban los grados entre jardín de infancia, 1°, 2°, 3° y 6° grado de primaria, guiados por padres de familia y profesionistas que se unieron al proyecto y decidieron formarse bajo la pedagogía Waldorf.
        </p>
        <p class="max-w-2xl mb-4">Actualmente, habiendo encontrado el plantel ideal para albergar a nuestros 50 alumnos, la escuela se mantiene a flote, sobreviviente de una pandemia que nos dejó grandes aprendizajes y nos confirmó que nuestro proyecto está creando una comunidad fuerte y comprometida que sin duda dejará su granito de arena en este mundo tan cambiante e innovador.
        </p>
    </div>
</section>
<style>
    h1, h2, h3, h4, h5, h6 {
      font-family: "Comic Neue", cursive;
      font-weight: 700;
      font-style: normal;
    }
    .video {
      background-color: var(--rojo-alegre);
    }
    @media (max-width: 700px) {
      .testimonios-title {
        font-size: 1.5rem; /* Texto más pequeño */
        padding-top: 1rem;
        margin-bottom: 2rem;
      }
  
      .testimonios-video {
        width: 100% !important; /* Ocupar el ancho disponible */
        height: 250px !important; /* Altura menor para dispositivos móviles */
      }
    }
  </style>
  <section class="video w-full h-full py-20 text-center px-4 fade-in translate-y-6 transition-all duration-700 ease-out">
    <h2 class="text-4xl mb-20 pt-10 testimonios-title">
      Video 100 años Educación Waldorf 
    </h2>
  
    <div class="max-w-1xl mx-auto aspect-w-16 aspect-h-9 mb-50 flex flex-col justify-center items-center">
      <iframe class="rounded-xl shadow-lg testimonios-video" style="width: 90%; height: 600px;" src="https://www.youtube.com/embed/7pUj9TGtNAk?si=yc_gz1wIncj4zuxw" title="100 años Educación Waldorf" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </section>
  