<section class="bg-gray-500 h-96 flex justify-center items-center px-6">
  <div class="max-w-5xl mx-auto text-center">
    <p class="text-2xl font-light italic text-gray-800">
      “La educación es el arte de ayudar al hombre a descubrir su relación con el mundo <br> 
      y a manifestar sus propias capacidades”.
    </p>
    <p class="mt-6 font-medium text-gray-600">
      – Rudolf Steiner –
    </p>
  </div>
</section>
