<style>
  h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
  section {
    background-color: var(--verde-apagado);
  }
</style>

<section class="h-96 flex justify-center items-center px-6">
  <div class="max-w-5xl mx-auto text-center fade-in opacity-0 translate-y-6 transition-all duration-700 ease-out">
    <p class="text-2xl italic">
      “La educación es el arte de ayudar al hombre a descubrir su relación con el mundo <br> 
      y a manifestar sus propias capacidades”.
    </p>
    <p class="mt-6">
      – Rudolf Steiner –
    </p>
  </div>
</section>
