<section class="bg-[#f3f3f3] py-20 px-6 flex justify-center items-center h-[300px]">
    <div class="max-w-5xl mx-auto text-center">
      <p class="text-[26px] font-light italic text-gray-800">
		``La educación es el arte de ayudar al hombre a descubrir su relación con el mundo <br> 
        y a manifestar sus propias capacidades``.           
      </p>
      <p class="mt-6 text-[17px] font-medium text-gray-600 mt-5">
        – Rudolf Steiner –
      </p>
    </div>
  </section>