/* Importa Montserrat y Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

/* Variables de colores descriptivos */
:root {
  --azul-primario: #FCB040;
  --rojo-alegre: #FFCA70;
  --amarillo-suave: #F5DF80;
  --verde-apagado: #E0E29C;
  --texto-principal: #272B27;
}

/* Estilos globales para textos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px !important;
  color: var(--texto-principal);
}

h3 {
  font-size: 28px !important;
}

h4 {
  font-size: 22px !important;
}

header ul > li > a {
  font-size: 11px !important;
}

p, a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px !important;
  color: var(--texto-principal);
}
